body {
    display: flex;
}

main {
    background: linear-gradient(to right, var(--vintage-gold) 20%, var(--vintage-cream) 100%);
    background-attachment: fixed;
    width: 80%;
    top: 0;
    display: block;
    padding-top: 3vh;
    overflow: hidden;
}

.buscarAlunos {
    position: relative;
    border-radius: 5vw;
    margin: 0 auto;
    transition: background 0.5s ease;

    -webkit-mask-image: url('../../img/stamp-search-bar.svg');
    mask-image: url('../../img/stamp-search-bar.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-position: center;
    mask-position: center;
}

.buscarAlunos img {
    position: absolute;
    left: 1.1vw;
    top: 50%;
    transform: translateY(-50%);
    width: 1.3vw;
    pointer-events: none;
    filter: invert(1);
}

.buscar {
    width: 56vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vw;
    border: none;
    font-size: 1.4vw;
    padding-left: 3.1vw ;
    margin: 0 auto;
    transition: background 0.5s ease;
    background-color: var(--white);
}

.buscar:focus {
    outline: none;
}

.buscaContainer {
    margin-top: 5vh;
    overflow: hidden;
}

.buscaContainer .resultadoBusca:first-child {
    border-top-left-radius: 1.25vw;
    border-top-right-radius: 1.25vw;
}

.buscaContainer .resultadoBusca:last-child {
    border-bottom-left-radius: 1.25vw;
    border-bottom-right-radius: 1.25vw;
}

.resultadoBusca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 60vw;
    padding: 1.5vh 3vh;
    margin-bottom: 0.5vh;
    border-bottom: 2px dashed rgba(0,0,0,0.4);
    border: 2.5px dashed var(--vintage-sand);
    background: var(--vintage-chantilly);
    line-height: 1.75;
    font-size: 1.2vw;
}

.resultadoBusca img {
    cursor: pointer;
    margin-right: 1vh;
    object-fit: contain;
    height: 5vh;
}
