body {
    min-height: 100vh;
    display: flex;
}

main {
    position: relative;
    flex: 1;
    background: linear-gradient(to right, var(--vintage-gold) 20%, var(--vintage-cream) 100%);
    background-attachment: fixed;
    top: 0;
    display: block;
    padding-top: 3vh;
    overflow: hidden;
}

.cabecalhoPaginas .pincelVoltar {
    position: absolute;
    left: 2vw;
}

.cabecalhoPaginas .abrirTemas {
    position: absolute;
    right: 2vw;
}

.fundoChat{
    background-color: var(--vintage-chantilly);
    width: 90vw;
    height: 70vh;
    margin: 0 auto;
    margin-top: 6vh;
    border-radius: 2vw;
    padding-top: 3vw;
    padding-right: 3vw;
}

.conversa{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.mensagem{
    width: fit-content;
    max-width: 32vw;
    padding: 0.1vh 1vw;
    border-radius: 1.5vw;
    margin-top: 1vw;
}

.aluno{
    background-color: var(--tema);
    color: var(--cor-contraste);
    align-self: self-end;
    transition: 0.3s ease;
    font-size: 1.15vw;
}

.prof{
    background-color: var(--medium-cyan);
    font-size: 1.15vw;
}

.barraMensagem{
    width: 88vw;
    height: 8vh;
    background-color: var(--vintage-gold);
    margin: 0 auto;
    margin-left: 2.4vw;
    border-radius: 1vw;
    padding-left: 1vw;
    display: flex;
    align-items: center;
    font-size: 1.15xvw;
}

.escreverMensagem{
    background-color: transparent;
    border: none;
    width: 84vw;
    height: 6vh;
    align-items: center;
}

.enviar{
    background-color: transparent;
    border: none;
}