body {
    display: flex;
}

main {
    background: linear-gradient(to right, var(--vintage-gold) 20%, var(--vintage-cream) 100%);
    background-attachment: fixed;
    width: 80%;
    top: 0;
    display: block;
    padding-top: 3vh;
}

button {
    background: none;
    border: none;
}

.meuPlaceholder {
    width: 20%;
    height: 100vh;
}

.headerLateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerLateral .logoMonart {
    height: 20vh;
    margin-top: 1vw;
    box-sizing: content-box;
    align-self: center;
    margin-bottom: 2vw;
}

.headerLateral nav img {
    object-fit: contain;
    width: 2vw;
}

.headerLateral nav img.observacoesIcone {
    height: 3vw;
}

.headerLateral ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.headerLateral li {
    display: flex;
    font-size: 1.2vw;
    font-weight: 500;
}

.headerLateral li a {
    display: flex;
    align-items: center;
    margin: 1vw 0vw 0.5vw 2.1vw;
    padding: 0.15vw 0vw;
    gap: 1vw;
    text-decoration: none;
    color: var(--white);
    border-radius: 100px 0 0 100px;
    width: 15vw;
    height: 3.5vw; 
    padding-left: 3vw;
    background: linear-gradient(to right, var(--vintage-orange), var(--vintage-gold));
    clip-path: inset(0 0 0 0 round 100px 0 0 100px);
    transition: 0.15s ease;
    white-space: nowrap;
}

.headerLateral li a:hover,
.headerLateral li .pagina.hoverizado {
    position: relative;
    filter: hue-rotate(-13.5deg) saturate(5.25);
    clip-path: inset(0 0 0 17.5% round 100px 0 0 100px);
    justify-content: center;
    transition: 0.285s ease;
}

.headerLateral li a.ativo {
    clip-path: inset(0 0 0 17.5% round 100px 0 0 100px);
    justify-content: center;
    background: var(--vintage-orange-hover);
}

.headerLateral li a.ativo:hover {
    filter: hue-rotate(0) saturate(1);
}

.pincelVoltar {
    cursor: pointer;
    height: 4.3vh;
    object-fit: contain;
    margin-left: 2vw;
    margin-top: 1vh;
    display: block;
    transition: 0.3s ease;
}

.headerLateral a {
    margin-top: 10vh;
}

.abrirTemas {
    cursor: pointer;
    margin-right: 2vw;
    object-fit: contain;
    height: 5vh;
    transition: 0.3s ease;
}

.botaoInsert {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    
    height: 6.5vh;
    width: 12vw;
    font-size: 2.8vh;
    border-radius: 10px;
    border: none;
    
    background: var(--tema);
    color: var(--cor-contraste);
    font-family: var(--urbanist);
    cursor: pointer;
    transition: 0.3s ease;
}

.botaoInsert:hover {
    filter: grayscale(0.6) saturate(1.8) contrast(0.9);
}

.botaoInsert img {
    object-fit: contain;
    height: 3vh;
    margin-left: 0.5vw;
    transition: 0.3s ease;
}

.componentizacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    margin: 0 auto;
    margin-top: 4.5vh;
}

search {
    display: block;
}

search form {
    display: flex;
    align-items: center;
    position: relative;
    background: var(--white);
    border-radius: 50px;
    padding: 0.5vh 0.8vw;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

search form:focus-within {
    transform: scale(1.025);
}

.buscarCrud {
    background: transparent;
    border: none;
    outline: none;
    padding: 1vh 1vw;
    font-family: var(--urbanist);
    font-size: 1.1vw;
    width: 40vw;
    transition: width 0.4s ease;
}

.buscarCrud::placeholder {
    color: var(--vintage-mustache);
    opacity: 0.7;
}

search form::before {
    content: "";
    display: inline-block;
    width: 1vw;
    height: 1vw;
    font-size: 1.2vw;
    margin-left: 0.5vw;
    background-image: url("../../img/search-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
    opacity: 0.6;
}

.tabelaContainer {
    background-color: var(--white);
    background-image: 
      linear-gradient(rgba(0,0,0,0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0,0,0,0.05) 1px, transparent 1px);
    background-size: 1.5vw 1.5vw;

    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0.2vw 0.4vh 1.5vw rgba(0, 0, 0, 0.05);
    width: 70vw; 
    max-height: 60vh; 
    margin: 5vh auto;
    overflow-x: auto; 
    overflow-y: auto; 
}
  
.tabelaRead {
    width: 100%;
    border-spacing: 0 0.5vh;
}
  
.tabelaRead th {
    padding: 1.75vh 1.75vw;
    font-size: 1.3vw;
    text-align: center;
    font-weight: 600;
    border-bottom: 0.2vh ridge var(--charcoal); 
    white-space: nowrap;
}
  
.tabelaRead td {
    padding: 1.75vh 1.75vw;
    text-align: center;
    background-color: transparent; 
    white-space: nowrap;
}
  
.tabelaRead tr:nth-child(even) td {
    background-color: var(--gray); 
}
  
.tabelaRead tr:nth-child(even) td:first-child {
    border-top-left-radius: 0.8vw;
    border-bottom-left-radius: 0.8vw;
}
  
.tabelaRead tr:nth-child(even) td:last-child {
    border-top-right-radius: 0.8vw;
    border-bottom-right-radius: 0.8vw;
}
  
.opcoes {
    font-size: 1.6vw;
    letter-spacing: 0.5vw;
}

.opcoes div {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
}

.opcoes img {
    cursor: pointer;
    object-fit: contain;
    height: 3.75vh;
    transition: 0.3s ease;
}

img.botaoVerTurmas {
    cursor: pointer;
    object-fit: contain;
    height: 2.75vh;
    transition: 0.3s ease;
}

.opcoes img:hover {
    filter: saturate(4) contrast(1.5);
    transform: scale(1.2);
}

dialog {
    font-size: 1.2vw;
    padding-bottom: 2vw;
    position: relative;
    overflow: visible;
    min-height: 25vh;
    min-width: 20vw;
    background-color: var(--vintage-chantilly);
    border: 1.75px dashed var(--black);
}

dialog form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
}

dialog form .colunas {
    display: flex;
    gap: 2vw;
}

dialog form .colunas .coluna {
    display: flex;
    flex-direction: column;
}

dialog form .colunas .coluna label {
    margin-bottom: 1vh;
    margin-top: 1.75vh;
}

dialog form .colunas .colunaNotas label:not(:nth-child(1)) {
    padding-left: 1.5vw;
}

dialog form input {
    font-size: 1.2vw;
    padding: 1vh;
    height: 1vh;
    width: 20vw;
    background-color: var(--white);
    border-radius: 0.8vw;
    border: 2px solid var(--black);
    padding: 0.75vw;
}

dialog form textarea {
    font-size: 1.2vw;
    padding: 1vh;
    min-height: 19vh;
    min-width: 20vw;
    background-color: var(--white);
    border-radius: 0.8vw;
    border: 2px solid var(--black);
    padding: 0.75vw;
}

dialog form .colunas .colunaNotas input {
    margin-top: 3vh;
    width: 4.2vw;
}

dialog .salvarAlteracoes, dialog .salvarInsercao {
    cursor: pointer;
    font-size: 1.2vw;
    margin-top: 1vh;
    height: 5vh;
    width: 7vw;
    align-self: center;
    
    -webkit-mask-image: url('../../img/stamp-button.svg');
    mask-image: url('../../img/stamp-button.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-position: center;
    mask-position: center;
    
    background: var(--vintage-brown);
    color: var(--white);
    font-family: var(--special-elite);
    border: none;
    transition: 0.3s ease;
}

dialog .salvarAlteracoes:hover, dialog .salvarInsercao:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
    background: var(--vintage-brown-hover);
}

dialog.deletes {
    min-height: 15vh;
}

dialog.deletes div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

dialog button.cancelarDeletar {
    cursor: pointer;
    font-size: 1.2vw;
    margin-top: 1vh;
    height: 5vh;
    width: 7vw;
    align-self: center;
    
    -webkit-mask-image: url('../../img/stamp-button.svg');
    mask-image: url('../../img/stamp-button.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-position: center;
    mask-position: center;
    
    background: var(--vintage-brown);
    color: var(--white);
    font-family: var(--special-elite);
    border: none;
    transition: 0.3s ease;
}

dialog button.cancelarDeletar:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
    filter: grayscale(0.6) saturate(1.8) contrast(0.9);
}

dialog button.deletar {
    cursor: pointer;
    font-size: 1.2vw;
    margin-top: 1vh;
    height: 5vh;
    width: 7vw;
    align-self: center;
    
    -webkit-mask-image: url('../../img/stamp-button.svg');
    mask-image: url('../../img/stamp-button.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-position: center;
    mask-position: center;
    
    background: var(--medium-coral);
    color: var(--white);
    font-family: var(--special-elite);
    border: none;
    transition: 0.3s ease;
}

dialog button.deletar:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
    filter: grayscale(0.6) saturate(1.8) contrast(0.9);
}

.fecharPopUp {
    position: absolute;
    font-family: var(--urbanist);
    font-size: 1.2vw;
    cursor: pointer;
    background: var(--medium-coral);
    color: var(--black);
    border: 1.5px solid var(--black);
    border-radius: 0.7vw;
    height: 4vh;
    width: 2vw;
    transition: 0.3s ease;
    top: -2.5vh;
    right: -1vw;
    z-index: 999;
}

.fecharPopUp:hover {
    filter: grayscale(0.6) saturate(1.8) contrast(0.9);
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    
    width: 1.3vw; 
    height: 1.3vw; 
    
    border: 0.2vh solid var(--vintage-mustache);
    border-radius: 0.4vw;
    background-color: var(--white);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked {
    background-color: var(--pastel-blue);
    border-color: var(--pastel-blue);
}

input[type="checkbox"]:checked::after {
    content: '✓';
    position: absolute;
    color: white;
    font-size: 1vw; 
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

input[type="file"] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.85vh;
    font-size: 0.9vw;
}

input[type="file"]::file-selector-button {
    cursor: pointer;
}

details summary {
    position: relative;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

details .turmasSelecao {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1vw; 
    max-height: 15vh; 
    overflow-y: auto;
    background: var(--gray);
    border: 2px solid var(--vintage-mustache);
    border-radius: 5px;
}

details .turmaItem {
    display: flex;
    align-items: center;
    padding-left: 0.7vw;
    font-size: 1.2vw;
    cursor: pointer;
}

.popupCpf{
    width: 350px;
    max-width: 90vw;
    padding: 20px;
}

.listaCpf{
    margin-top: 15px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.popupCpf{
    width:350px;
    max-width:90vw;
    padding:20px;
    border:none;
    border-radius:8px;
}

.listaCpf{
    margin-top:15px;
    max-height:300px;
    overflow-y:auto;
    border:1px solid #ccc;
    padding:10px;
    background:white;
}

.botaoCpf{
    padding:6px 10px;
    border-radius:6px;
    border:none;
    cursor:pointer;
    background:#242021;
    color:white;
    font-size:13px;
}