html {
    overflow-y: hidden;
}

body {
    display: flex;
}

main {
    background: linear-gradient(to right, var(--vintage-gold) 20%, var(--vintage-cream) 100%);
    background-attachment: fixed;
    width: 80%;
    top: 0;
    display: block;
    padding-top: 3vh;
}

.dashboardProfessor {
    display: flex;
    margin: 0 auto;
    margin-top: 3vh;
    width: 95%;
    height: 85vh;
    border: none;
    border-radius: 12px;
}

.carregandoDashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    font-family: var(--special-elite);
}