body {
    display: flex;
}

main {
    background: linear-gradient(to right, var(--vintage-gold) 20%, var(--vintage-cream) 100%);
    background-attachment: fixed;
    width: 80%;
    top: 0;
    display: block;
    padding-top: 3vh;
}

.perfil{
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    width: 64vw;
    height: 30vh;
    margin: 0 auto;
    border-radius: 1.5vw;
    margin-top: 6vh;
    align-items: center;
    padding-left: 2vw;
}
.pessoa{
    display: flex;
    gap: 2vw;
}

.arte{
    height: 24vh;
}

.notificacoes{
    display: flex;
    gap: 4vw;
    justify-content: center;
    margin-top: 8vh;
}

.nova{
    background-color: var(--white);
    width: 31vw;
    height: 36vh;
    border-radius: 1.5vw;
}

.barrinhaTema {
    width: 100%;
    height: 9vh;
    display: flex;
    flex-direction: column; 
    padding-left: 0; 
    padding-top: 0;         
    overflow: hidden;
    border-top-left-radius: 1.5vw;
    border-top-right-radius: 1.5vw;
}
h2{
    color: var(--white);
    text-align: center;
}
.editar{
    background-color: var(--pastel-blue);
    color: var(--white);
    border: none;
    border-radius: 0.7vw;
    gap: 1vw;
    align-items: center;
    display: flex;
    padding: 0.3vw  0.8vw;
    margin-right: 2vw;
    margin-bottom: 9vw;
    cursor: pointer;
    transition: 0.285s ease;
}
.editar:hover {
    background-color: var(--medium-blue-hover);
    transition: 0.285s ease;
}
.iconeEditar{
    height: 3vh;
}