<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Preloads -->
    <link rel="preload" as="image" href="../../assets/img/profile-icon.svg">
    <link rel="preload" as="image" href="../../assets/img/schedule-icon.svg">
    <link rel="preload" as="image" href="../../assets/img/grades-icon.svg">
    <link rel="preload" as="image" href="../../assets/img/statistics-icon.svg">

    <!-- Links -->
    <link rel="stylesheet" href="../../assets/css/layout/agenda.css">
    <link rel="stylesheet" href="../../assets/css/global.css">
    <link rel="stylesheet" href="../../assets/css/tokens.css">
    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon.ico">
    <script src="../../assets/js/script.js" defer></script>

    <title>Agenda - Monart</title>
</head>

<body>
    <div class="meuPlaceholder"></div>

    <header class="headerLateral">
        <img src="../../assets/img/monart-logo.svg" decoding="async" alt="" class="logoMonart">
        <nav>
            <ul>
                <li><a href="perfil.html" class="pagina"><img src="../../assets/img/profile-icon.svg" decoding="async" alt="">Perfil</a></li>
                <li><a href="agenda.html" class="pagina"><img src="../../assets/img/schedule-icon.svg" decoding="async" alt="">Agenda</a></li>
                <li><a href="notas.html" class="pagina"><img src="../../assets/img/grades-icon.svg" decoding="async" alt="">Notas</a></li>
                <li><a href="observacoes.html" class="pagina ativo"><img src="../../assets/img/observations-icon.svg" decoding="async" alt="">Observações</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="tituloPaginas">
            <h1>Observações</h1>
        </div>
    </main>
    
</body>

</html>