<!DOCTYPE html>
<html lang="pt-BR">

<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="../../assets/css/global.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title></title>
</head>

<body>
    <div class="meuPlaceholder"></div>

    <header class="headerLateral">
        <img src="../../assets/img/monart-logo.svg" alt="" class="logoMonart">
        <nav>
            <ul>
                <li><a href="login.html" class="ativo"><img src="../../assets/img/profile-icon.svg" alt="">Perfil</a></li>
                <li><a href="login.html"><img src="../../assets/img/schedule-icon.svg" alt="">Agenda</a></li>
                <li><a href="login.html"><img src="../../assets/img/grades-icon.svg" alt="">Notas</a></li>
                <li><a href="login.html"><img src="../../assets/img/statistics-icon.svg" alt="">Estatísticas</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>