@import url(tokens.css);

@font-face {
  font-family: 'Special Elite';
  src: url('../fonts/SpecialElite-Regular.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: var(--typewritter);
}

body {
    margin: 0;
    top: 0;
    bottom: 0;
    padding: 0;
}

