@import url(tokens.css);

@font-face {
  font-family: 'Special Elite';
  src: url('../fonts/SpecialElite-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-VariableFont_wght.woff2') format('woff2');
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: var(--urbanist);
}

body {
    margin: 0;
    top: 0;
    bottom: 0;
    padding: 0;
}

/*/ Header Lateral /*/

.meuPlaceholder {
    width: 20%;
    height: 100vh;
}

.headerLateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerLateral .logoMonart {
    height: 20vh;
    margin-top: 1vw;
    box-sizing: content-box;
    align-self: center;
    margin-bottom: 2vw;
}

.headerLateral nav img {
    object-fit: contain;
    height: 4vh;
}

.headerLateral ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.headerLateral li {
    display: flex;
    font-size: 1.5vw;
    font-weight: 500;
}

.headerLateral li a {
    display: flex;
    align-items: center;
    margin: 1vw 0vw 0.5vw 2.2vw;
    padding: 0.2vw 0vw;
    gap: 1vw;
    text-decoration: none;
    color: var(--white);
    transition: 0.25s ease-in-out;
    border-radius: 20px 0 0 20px;
    width: 15vw;
    height: 4vw; 
    padding-left: 3vw;
    background: linear-gradient(to right, var(--vintage-orange), var(--vintage-gold));
}

.headerLateral li a:hover {
    filter: hue-rotate(-13.5deg) saturate(5.25);
}

/* Posicionamento de Tela
body {
    display: flex;
}

main {
    background: linear-gradient(to right, var(--vintage-gold) 20%, var(--vintage-cream) 100%);
    background-attachment: fixed;
    width: 80%;
    top: 0;
    display: block;
}
*/

/* Header das Telas de Autenticação */

.headerAutenticacao {
    height: 12vh;
    background: var(--vintage-cream);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0.75px 25px rgba(0, 0, 0, 0.3);
}

.headerAutenticacao .logoMonart {
    height: 11vh;
    object-fit: contain;
    margin-left: 1vw;
}

.headerAutenticacao .pincelVoltar {
    height: 4.3vh;
    object-fit: contain;
    margin-right: 1.45vw;
    margin-top: 1vh;
    transition: 0.3s ease;
}

.headerAutenticacao .pincelVoltar:hover {
    transform: scale(1.25);
}

/*  */